<div class="login">
<div class="container">
<div class="row">

<h4 class="home-title margintop45">WELCOME, Please Login</h4>

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input placeholder="Mobile or Email" type="text">
      <input placeholder="Password" type="password">
     <a href="user-profile.php" class="btn btn-success btn-lg btn-block ">Login</a>
      <p><a href="#" class="forget-pass">Forgot Password</a></p>
      <a href="signup.html" class="btn btn-success btn-lg btn-block ">Create an Account</a>
      
    </form>
  </div>
</div>
</div>
</div>
</div>