<div class="login">
<div class="container">
<div class="row">

<h4 class="home-title margintop45">Create Account</h4>

<div class="login-page_2">
  <div class="form_2">
    <form class="login-form">
    <div class="row">
    <div class="col-md-6 col-sm-6">
      <input placeholder="Full Name" type="text">
      <input placeholder="Password" type="password">
      <input placeholder="Confirm Password" type="password">
       </div>
       <div class="col-md-6 col-sm-6">      
      <input placeholder="Email Verification" type="text">
       <input placeholder="Phone Verification" type="text">
       <input placeholder="Verification Code" type="text">
       </div>
      </div>
      <div class="col-md-12 text-left">
      <label for="checkboxes-0"><input id="checkboxes-0" type="checkbox"> I agree to Sports Swaps <span><a href="#" class="forget-pass">terms and conditions</a></span> and <span><a class="forget-pass" href="#">privacy policy</a></span>.</label> 
      </div>
        
      
       <a href="#" class="btn btn-success btn-lg">Create an Account</a>
      
    </form>
  </div>
</div>
</div>
</div>
</div>