<!--footer-->
<div class="footer">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-4">
            <br>
            	<img src="img/logo.png"><br>
                <p class="paddingmam-cont">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
            </div>
        	<div class="col-sm-2">
            	<h2>Quick Links</h2>
                <p><a href="">Login</a></p>
                <p><a href="">About Us</a></p>
                <p><a href="">Contact Us</a></p>
            </div>
            <div class="col-sm-3">
            	<h2> Support</h2>
                <p><a href="">FAQ</a></p>
                <p><a href="">Terms &amp; conditions</a></p>
                <p><a href="">Security</a></p>
                <p><a href="">Privacy Policy</a></p>
            </div>
            <div class="col-sm-3">
            	<h2>Contact Us</h2>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>
                <p>+91 9876543210</p>
            </div>
        </div>
    </div>
</div>
<!--footer-->

<!--copy-->
<div class="copyright">
	<div class="container">
    	<div class="pull-left">
        	<p>&copy; Copyright 2016 Sports Swaps. All Rights Reserved.</p>
        </div>
        <div class="pull-right">
        	<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        	<a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        	<a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        	<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<!--copy-->

