<div class="left-side-profile">
                                <div class="left-menu">
                                    <p><a href="http://democarol.com/sportsswaps/browse/featured"><i class="fa fa-share-square-o"></i>Featured</a></p>
                                    <p><a href="http://democarol.com/sportsswaps/browse/new_arrival"><i class="fa fa-history"></i>New Arrivals</a></p>
                                    <p><a href="#"><i class="fa fa-usd"></i>Biggest Movers</a></p>
                                    <p><a href="#"><i class="fa fa-cog"></i>Trending</a></p>
                                    <p><a href="#"><i class="fa fa-sign-out"></i>Most Predicted</a></p> 
                                    <p><a href="#"><i class="fa fa-sign-out"></i>Closing Soon</a></p>
                                    <hr>
                                    <p><a href="#">NBA</a></p>                          
                                    <p><a href="#">NFL</a></p>                             
                                    <p><a href="#">MLB</a></p> 
                                </div>
  							</div>